@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #3b82f6, #ef4444);
  -webkit-text-fill-color: transparent;
}
 
 .ImagePost {
    padding-bottom: 66.66%;
 }